[Unit]
Description=Mount Google Drive
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/daddo/scripts/google_drive.sh
RemainAfterExit=true

[Install]
WantedBy=default.target
